.tag {
  border-radius: var(--radius-full);

  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-sm);
  letter-spacing: var(--letter-spacing-normal);
  text-transform: uppercase;
  text-align: center;
}

.small {
  padding: 6px 20px;
  font-size: var(--font-size-xs);
}

.medium {
  padding: 8px 30px;
  font-size: var(--font-size-sm);
}

.large {
  padding: 11px 40px;
  font-size: var(--font-size-md);
  min-width: 162px;
}
