@font-face {
  font-family: 'Abel';
  src: url('/src/shared/assets/fonts/Abel/Abel-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/shared/assets/fonts/Roboto/Roboto-VariableFont.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Single Day';
  src: url('/src/shared/assets/fonts/Single_Day/SingleDay-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-primary: 'Abel', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
  --font-display: 'Single Day', sans-serif;

  --font-size-xs: 0.875rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2rem;
  --font-size-3xl: 2.5rem;
  --font-size-4xl: 3rem;
  --font-size-5xl: 4.6875rem;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --line-height-xs: 1.17rem;
  --line-height-sm: 1.4rem;
  --line-height-md: 1.5rem;
  --line-height-lg: 1.6rem;
  --line-height-xl: 1.75rem;

  --letter-spacing-tight: -0.08px;
  --letter-spacing-normal: 0px;
}
