:root {
  --color-brand-primary: #fe5858;

  --color-bg-default: #fafafa;
  --color-bg-light: #ffffff;

  --color-text-default: #4f4f4f;
  --color-text-muted: #757575;
  --color-text-disabled: #9e9e9e;

  --color-border-default: #595854;
  --color-border-muted: #bdbdbd;
  --color-border-disabled: #d6d6d6;
}
